body{
  margin: 0;
	padding: 0;
	background-image: url(background.jpg);
	background-attachment: fixed; 
	height: 100vh;
	background-size: cover;
	background-position: center;
	font-family: calibri;
}

form input[type="text"],input[type='email']
	{
	border: none;
	outline: none;
	background-color: white;
	color: black;
	box-sizing: border-box;
  border: 2px solid black;
	height: 40px;
	font-size: 16px;


}

/*#name
{
position: absolute;
top:30%;
}

#email
{
position: absolute;
top:40%;
}

#question
{
position: absolute;
top:50%;

}

h1
{
	position: absolute;
	top:5%;
	left:10%;
}

input[type='submit'] {
  border: none;
	outline:none;
	height:50px;
	width: 100px;
	background-color:black;
	color:white;
	border: 2px solid black;
	font-size: 20px;
	position:absolute;
	left:48%;
	top:60%;	
	border-radius: 30px;
	transition: 0.4s ease;

}



p
{
	position: absolute;
	left:45%;
	font-size: 20px;
	font-weight:bold;
}*/


.simpleform
{
	width:400px;
	height:600px;
	background-color:black;
	background: rgba(0,0,0,0.7);
	color:white;
	position: absolute;
	transform: translate(-50%,-50%);
	left:50%;
	top:65%;
	text-align: center;
	padding:70px 30px;
	box-sizing: border-box;
	border-radius:20%;
}

.simpleform h4
{
	position: absolute;
	top:2%;
	left:30%;
	font-size: 20px;
}

.simpleform p
{
	font-size:20px;
}


.simpleform p:first-child
{
	position: absolute;
	top:2%;
	color:black;
}

h1
{
	font-size:40px;
	position: absolute;
	left:45%;

}

input[type='submit']
{
	  border: none;
	outline:none;
	height:50px;
	width: 110px;
	background-color:#3792cb;
	color:#000;
	border: 2px solid black;
	font-size: 20px;
	position:absolute;
	left:35%;
	bottom:5%;	
	border-radius: 30px;
	transition: 0.4s ease;
}